<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }


    </style>
</th:block>


<div layout:fragment="content">
    <form action="/members/new" method="post" role="form" th:object="${membersFormDto}">
        <div class="mb-3">
            <label th:for="name">이름</label>
            <input class="form-control" placeholder="이름을 입력해주세요" th:field="*{name}" type="text">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
        </div>
        <div class="mb-3">
            <label th:for="email">이메일주소</label>
            <input class="form-control" placeholder="이메일을 입력해주세요" th:field="*{email}" type="email">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
        </div>
        <div class="mb-3">
            <label th:for="password">비밀번호</label>
            <input class="form-control" placeholder="비밀번호 입력" th:field="*{password}" type="password">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
        </div>
        <!--city, street, zipcode-->
        <label th:for="address">지역</label>
        <input class="form-control" placeholder="사는 지역을 입력해 주세요." th:field="*{city}" type="text">
        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="fieldError">Incorrect data</p>
        <label th:for="address">도시</label>
        <input class="form-control" placeholder="사는 도시를 입력해 주세요." th:field="*{street}" type="text">
        <p class="fieldError" th:errors="*{street}" th:if="${#fields.hasErrors('street')}">Incorrect data</p>
        <label th:for="address">우편번호</label>
        <input class="form-control" placeholder="우편번호를 입력해 주세요." th:field="*{zipcode}" type="text">
        <p class="fieldError" th:errors="*{zipcode}" th:if="${#fields.hasErrors('zipcode')}">Incorrect data</p>

        <button type="submit" class="btn btn-primary">가입하기</button>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</div>
</html>